/* This file is for your main application css. */

/* @import "./phoenix.css"; */
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

div.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  /* -webkit-prefixed */
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;

  /* -ms-prefixed */
  display: -ms-flex;
  -ms-flex-flow: row wrap;
  -ms-justify-content: center;
  -ms-align-content: center;
  -ms-align-items: center;
}

h2 { clear: both; }

.error {
  color: red;
  font-size: 11pt;
}

.screen {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;

  /* -webkit- prefixed */
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
  -webkit-align-content: center;

  /* -ms- prefixed */
  display: -ms-flex;
  -ms-flex-flow: row wrap;
  -ms-justify-content: center;
  -ms-align-content: center;

  border: 5px dashed black;

  height: 600px;
  width: 600px;
  margin: 20px;
}

.screen.large {
  height: 800px;
  width: 800px;
}

.input {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  width: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 10px;
}

.input textarea {
  width: 100%;
  height: 200px;
  clear: both;

  font-size: 11pt;
  font-family: Courier, Consolas;
}

svg { height: 100%; width: 100%; }

.example {
  height: 100px;
  width: 100px;
  margin: 5px;
  padding: 5px;
  border: 1px solid grey;
}

